footer {
    background: var(--secondary-background-color);
    display: flex;
    gap: 1em;
    color: var(--secondary-text-color);
}

.links,
.social-media-icons {
    display: flex;
    flex-direction: column;
}

.social-media-icons {
    text-align: center;
    gap: 0.25em;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* self-implemented */
.centered-footer {
    justify-content: center;
}

.center-text {
    text-align: center;
}

.bold-url {
    font-size:1.25rem;
    font-weight: bold;
}

.inline-display {
    display: inline-block;
}

.margin-links {
    margin-bottom: 1em;
}

.round-icon {
    border-radius: 50px;
}