.category-buttons {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  background-color: var(--primary-background-color);
  color: var(--secondary-text-color); 
}

/*category color selected*/
.button.selected-category-button {
  background-color: var(--primary-color);
  color: var(--secondary-text-color); 
}

/*category color unselected*/
.button.unselected-category-button,
.button.unselected-category-button:visited {
  background-color: var(--primary-background-color);
  color: var(--default-text-color);
}

.button.unselected-category-button:hover,
.button.unselected-category-button:active {
  background-color: var(--primary-color);
  color: var(--secondary-text-color); 
}

.blue-border-nav-bar {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thin;
  
  border-color: #00239E;
  background: white;
  color: #00239E;
}