.home-page {
    display: flex;
}

.welcome-text {
    width: 50%;
}

.category-image-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
  
.category-image-items a {
    text-align: center;
    cursor: pointer;
}
  
.category-image-items div {
    padding: 0.5em 0;
    background: rgba(0, 0, 0, 0.5); /* last # is percent opacity */
    color: white;
    transform: translateY(-2.25em);
    margin-bottom: -2em;
}

/* self-implemented */
.quote-text {
    text-align: center;
    font-style: italic;
    font-size: 120%;
}

/* self-implemented */
.reference-text {
    text-align: center;
    font-weight: bold;
    margin-top: 1em;
    font-style: italic;
}

/* self-implemented */
.shopping-button {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 3em;
}

.background-pic {
    background-image: url("../images/background/library.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left-page-margin {
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 3em;
    margin-bottom: 3em;
}

.blue-upper-border {
    border-top-style: solid;
    border-color: #00239E;
    border-width: thin
}

.position-12-rules {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-5%, -50%); */
    transform: translate(-5%, 0%);
}

.position-beyond-order {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-45%, -123%); */
    transform: translate(-45%, -28%);
}

.position-map-of-meaning {
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-55%, -20%); */
    transform: translate(-55%, 70%);
}

.round-book {
    border-radius: 10px;
}

.resize-12-rules {
    max-width: 70%;
    height: 70%;
}

.resize-beyond-order {
    max-width: 40%;
    height: 40;
}

.resize-map-of-meaning {
    max-width: 50%;
    height: 50%;
}

.right-page-margin {
    justify-content: center;
    margin-left: 3em;
    margin-right: 3em;
    margin-top: 6em;
    margin-bottom: 3em;
    position: relative
}

.yellow-border-yellow-bg {
    border-style: solid;
    border-width: thin;

    border-color: #E1CB00;
    background: #E1CB00;
    color: white;
}

.yellow-border-yellow-bg:hover,
.yellow-border-yellow-bg:active {
    border-style: solid;
    border-width: thin;
    border-color: #9d8d00;
    background: #9d8d00;
    color: white;
}

.categories-element{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-style: solid;
    border-width: thin;

    border-color: #00239E;
    background: white;
    color: #00239E;
}