.home-page {
    display: flex;
}

.welcome-text {
    width: 50%;
}

.category-image-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}
  
.category-image-items a {
    text-align: center;
    cursor: pointer;
}
  
.category-image-items div {
    padding: 0.5em 0;
    background: rgba(0, 0, 0, 0.5); /* last # is percent opacity */
    color: white;
    transform: translateY(-2.25em);
    margin-bottom: -2em;
}

/* self-implemented */
.quote-text {
    text-align: center;
    font-style: italic;
    font-size: 120%;
}

/* self-implemented */
.reference-text {
    text-align: center;
    font-weight: bold
}

/* self-implemented */
.shopping-button {
    text-align: center;
}

.background-pic {
    background-image: url("../images/background/library.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

